<div data-controller="login-modal">
  <div class="container py-4" data-login-modal-target="content">
    <h1>Login</h1>

    <%= simple_form_for :session, url: login_path do |f| %>
      <%= f.input :email, autofocus: true, autocomplete: "email" %>
      <%= f.input :password, as: :password, autocomplete: "current-password" %>

      <div class="d-flex gap-2 align-items-center">
        <%= f.button :submit, "Login", class: "btn btn-primary" %>
        <%= link_to "S'inscrire", new_user_registration_path, class: "btn btn-outline-primary" %>
      </div>

      <div class="mt-2">
        <%= link_to "Mot de passe oublié ?", new_user_password_path, class: "small text-muted" %>
      </div>
    <% end %>
  </div>
</div>
