<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-10 col-md-8 col-lg-5">
      <div class="card">
        <div class="card-body">
          <h2 class="h4 mb-3">Sign up</h2>

          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= f.error_notification %>

            <div class="form-inputs">
              <% if resource_name == :owner %>
                <%= f.input :guesthouse_name,
                            label: "Nom du gîte",
                            required: false,
                            input_html: { autocomplete: "organization" } %>
              <% end %>

              <div class="row g-2">
                <div class="col-12 col-md-6">
                  <%= f.input :first_name,
                              label: "Prénom",
                              required: true,
                              input_html: { autocomplete: "given-name" } %>
                </div>
                <div class="col-12 col-md-6">
                  <%= f.input :last_name,
                              label: "Nom",
                              required: true,
                              input_html: { autocomplete: "family-name" } %>
                </div>
              </div>

              <%= f.input :email,
                          label: "E-mail",
                          required: true,
                          autofocus: true,
                          input_html: { autocomplete: "email" }%>

              <%= f.input :postal_address,
                          label: "Adresse postale",
                          required: false,
                          input_html: { autocomplete: "street-address" } %>

              <%= f.input :phone,
                          label: "Téléphone",
                          required: false,
                          input_html: { autocomplete: "tel" } %>

              <%= f.input :password,
                          required: true,
                          hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                          input_html: { autocomplete: "new-password" } %>
              <%= f.input :password_confirmation,
                          required: true,
                          input_html: { autocomplete: "new-password" } %>
            </div>

            <div class="form-actions d-grid">
              <%= f.button :submit, "Sign up", class: "btn btn-primary" %>
            </div>
          <% end %>

          <div class="mt-3">
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
