<div class="container py-4">
  <h1 class="h3"><%= t('admin.rooms.edit.title') %></h1>

  <%= simple_form_for([:admin, @room]) do |f| %>
    <%= f.input :name, label: t('admin.rooms.edit.name_label') %>
    <%= f.input :description, as: :text, label: t('admin.rooms.edit.description_label'), hint: t('admin.rooms.edit.description_hint') %>
    <%= f.input :capacity, label: t('admin.rooms.edit.capacity_label'), hint: t('admin.rooms.edit.capacity_hint') %>
    <%= f.input :photos, as: :file, input_html: { multiple: true }, label: t('admin.rooms.edit.photos_label'), hint: t('admin.rooms.edit.photos_hint') %>
    <%= f.input :room_url, as: :text, label: t('admin.rooms.edit.room_url_label'), hint: t('admin.rooms.edit.room_url_hint') %>
    <%= f.submit t('admin.rooms.edit.submit_button'), class: "btn btn-primary" %>
    <%= link_to t('admin.rooms.edit.back_link'), admin_room_path(@room), class: "btn btn-link" %>
  <% end %>
</div>
