<div class="container py-4">
  <h1 class="h3">Modifier la chambre</h1>

  <%= simple_form_for([:admin, @room]) do |f| %>
    <%= f.input :name %>
    <%= f.input :capacity, hint: "Optionnel" %>
    <%= f.input :photos, as: :file, input_html: { multiple: true }, hint: "Importer une ou plusieurs images" %>
    <%= f.input :room_url, as: :text, hint: "Une URL d'image par ligne" %>
    <%= f.submit "Mettre à jour", class: "btn btn-primary" %>
    <%= link_to "Retour", admin_room_path(@room), class: "btn btn-link" %>
  <% end %>
</div>
