<div class="container py-4">
  <h1 class="h3">Edit room</h1>

  <%= simple_form_for([:admin, @room]) do |f| %>
    <%= f.input :name %>
    <%= f.input :capacity, hint: "Optional" %>
    <%= f.submit "Update room", class: "btn btn-primary" %>
    <%= link_to "Back", admin_room_path(@room), class: "btn btn-link" %>
  <% end %>
</div>
