<div class="container py-4">
  <h1 class="h3">New room</h1>

  <%= simple_form_for([:admin, @room]) do |f| %>
    <%= f.input :name %>
    <%= f.input :capacity, hint: "Optional" %>
    <%= f.input :photos, as: :file, input_html: { multiple: true }, hint: "Upload one or more images" %>
    <%= f.input :room_url, as: :text, hint: "One image URL per line" %>
    <%= f.submit "Create room", class: "btn btn-primary" %>
    <%= link_to "Back", admin_rooms_path, class: "btn btn-link" %>
  <% end %>
</div>
