<nav class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <i class="fa fa-home" aria-hidden="true"></i>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <%= link_to "Rooms", rooms_path, class: "nav-link" %>
        </li>

        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Mes réservations", bookings_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to inbox_path, class: "nav-link" do %>
              Inbox
              <% if @user_unread_conversations_count.to_i.positive? %>
                <span class="badge text-bg-warning"><%= @user_unread_conversations_count %></span>
              <% end %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to "Log out", logout_path, data: { turbo_method: :delete }, class: "nav-link" %>
          </li>
        <% elsif owner_signed_in? %>
          <li class="nav-item">
            <%= link_to "Tableau de bord", admin_bookings_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to admin_inbox_path, class: "nav-link" do %>
              Inbox
              <% if @owner_unread_conversations_count.to_i.positive? %>
                <span class="badge text-bg-warning"><%= @owner_unread_conversations_count %></span>
              <% end %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to "Hébergements", admin_rooms_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Log out", logout_path, data: { turbo_method: :delete }, class: "nav-link" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to login_path(return_to: request.fullpath), class: "nav-link", data: { turbo: false }, aria: { label: "Login" } do %>
              <i class="fa fa-user-plus" aria-hidden="true"></i>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
