<h1><%= @room.name %></h1>

<% if @room.image_urls.any? %>
  <div class="row g-2 mb-3">
    <% @room.image_urls.each do |url| %>
      <div class="col-12 col-md-6">
        <%= image_tag url, class: "img-fluid", alt: @room.name %>
      </div>
    <% end %>
  </div>
<% end %>

<% if @room.description.present? %>
  <p><%= @room.description %></p>
<% end %>

<% if user_signed_in? %>
  <%= link_to "Request booking", new_room_booking_path(@room) %>
<% else %>
  <p><%= link_to "Log in", new_user_session_path %> to request a booking.</p>
<% end %>
